body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}

/************ estilos header ************/
.main-header{
    width: 100%;
}

.logo{
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    /* es para reducir el grosor del texto */
    font-weight: 100;
}

.main-header-contactInfo-phone{
    background: #DE423A;
    color: #fff;
    margin: 0px auto;
    padding: 10px;
}
.main-header-contactInfo-phone{
        padding: 10px;
        margin: 0px;
}

/* lo que estamos haciendo aqui es seleccionar todas las clases que empiecen con
la clase icon- o que contengan al inicio icon- le tenemos que poner el * para indicarle que todas*/
.main-header [class*="icon-"]:before{
    position: relative;
    top: 2px;
    right: 5px;
}

/************ estilos del menu ************/
.main-nav{
    widows: 100%;
    position: relative;
    z-index: 3;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: #fff;
}
.socila-icon{
    display: flex;
    justify-content: space-between;
}
.socila-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
}
.socila-icon-link{
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background: rgba(0, 0, 0, .9);
    text-align: center;
}
.menu-link{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.menu-link:hover{
    background: #DE423A;
}
.menu-link-select{
    background: #DE423A;
}

/************ estilos de Banner ************/
.banner{
    margin-top: -55px;
    position: relative;

}
.banner:before{
    /* todas las seudo clases deven de tener la propiedad content */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
}

.banner-img{
    width: 100%;
    height: 500px;
    /* lo que hace esta propiedad es que si tu imagen se estira mucho pues con esta propiedad
    puedes hacer que tu imagen no se vea estirada, el unico problemita es que le dara un zoom 
    el cual sirve para que no se estire la imagen entonces no se vera completa */
    object-fit: cover;
}
.banner-content{
    width: 90%;
    color: #fff;
    text-align: center;
    z-index: 2;
}