<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/styles.css">      
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous" />

</head>
<body>
        <header class="header header--color">
                <figure>
                    <img src="../assets/logo.png" class="header__logo" alt="Logo">
                </figure>
                <div class="header__menu">
                      <div class="header__menu--profile">
                            <figure>
                                <img src="../assets/user.png" alt="User">
                            </figure>
                            <p>Perfil</p>
                      </div>   
                      <ul class="header__menu--list">
                          <li><a href="#">Cuenta</a></li>
                          <li><a href="#">Cerrar Sesión</a></li>
                      </ul>   
                </div>
        </header>     
        
        <section class="login">
                <section class="login__container">
                    <h2>Regístrate</h2>
                    <form action="" class="login__container--form">
                        <input class="input" type="text" placeholder="Nombre" >
                        <input class="input" type="text" placeholder="Correo">
                        <input class="input" type="password" placeholder="Contraseña" >
                        <button class="button">Inicial Sesión</button>
                    </form>
                    <p class="login__container--register registro--flex">
                          <a href="login.html">Iniciar sesión</a>  
                    </p>
                </section>            
        </section>

        <footer class="footer">
            <a href="#">Terminos de uso</a>
            <a href="#">Declaración de privacidad</a>
            <a href="#">Centro de ayuda</a>
        </footer>

</body>
</html>